LOCAL_APP_ENV=lunamandala_docker
LOCAL_NODE_ENV=development
LOCAL_API_PORT=4000

LOCAL_DOCKER_DB_PORT=3307
LOCAL_DOCKER_DB_ROOT_PASSWORD=agenda_root_dev
LOCAL_DB_USER=lunav2_user
LOCAL_DB_PASSWORD=lunav2_password
LOCAL_DB_NAME=lunamandala_v2_docker
LOCAL_DB_CONNECTION_LIMIT=10
LOCAL_DB_TIMEZONE=-04:00
LOCAL_APP_TIMEZONE=America/La_Paz

LOCAL_JWT_SECRET=local-docker-dev-change-me
LOCAL_MESSAGING_PROVIDER=test_outbox
LOCAL_ENABLE_MOCK_FALLBACK=false
LOCAL_ENABLE_DEMO_SCHEDULE_FALLBACK=false
LOCAL_API_CORS_ORIGINS=
